/* estilos gerais */

* {
padding:0;
margin:0; }

body {
background-color:#fff;
background-repeat:top center repeat;
background-image:url(http://thumbs.dreamstime.com/thumblarge_369/1235659000010RPK.jpg);
color:#444;
text-shadow:1px 1px 0 #E5E5E5;
font-family:'Terminal Dosis', Helvetica, Arial, sans-serif; }

a img { border:0; }

header, nav, section, article, aside, footer { display:block; }

#site {
box-shadow:0 0 10px #666;
background:#abc8de url(http://jedtoolkit.org/img/background.png) repeat;
overflow:hidden;
margin:15% auto 0 auto;
padding:30px 20px;
width:410px; }

#site .avatar {
border:5px solid #444;
margin-right:10px;
width:128px;
float:left; }

#site h1,
#site h2 { font-weight:normal; }

#site ul {
margin-top:15px;
list-style:none; }

#site li { display:inline; }

#site .mais {
margin-top:-7px;
float:right; }

#site .mais a {
color:#000;
font-weight:bold;
font-size:30px;
text-decoration:none; }