#about
  background #EEEEEE
  width 100%
  min-height 100vh
  display flex
  align-items center
  justify-content center
  flex-direction column
  padding 20px

  p
    max-width 700px
    margin 0 0 10px 0

    @media(max-width: 500px)
      text-align center
