.logo
  display inline-block
  margin 0
  padding 0
  width 200px
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  z-index 1

  &.fixed
    position fixed
    top 20px
    left 50%
    transform translate(-50%, 0)

  .picture
    width 100%
    margin 0 0 10px 0
    display block

  .text
    background #000000
    color #FFFFFF
    font-family 'Walter Turncoat', cursive
    font-size 20px
    text-align center
    display inline-block
    width 100%
    padding 1px
