extends layouts/main

block content
  figure.logo
    img.picture(src="images/profile-image.jpg")
    figcaption.text
      | Cheila de Barros

  include layouts/home
  include layouts/about
  include layouts/work
