extends layouts/main

block content
  figure.logo
    img.picture(src="images/profile-image.jpg")
    figcaption.text
      | Cheila de Barros
    ul.social
      li
        a.socicon-facebook(href="https://facebook.com/cheiladebarrosfotografia", target="_blank")
      li
        a.vsco(href="http://vsco.co/cheiladbarros", target="_blank") vsco
      li
        a.socicon-500px(href="https://500px.com/cheiladbarros", target="_blank")
      li
        a.socicon-instagram(href="https://www.instagram.com/cheiladbarros/", target="_blank")

  include layouts/home
  include layouts/about
  include layouts/work
