div#about
  p
    | A fotografia sempre fez parte de mim e eu não sabia, sempre me fez bem, sempre gostei, sempre esteve presente, seja fotografando um prato de comida ou a vida diária com minha família, sempre esteve ali prontinha para sair e vir a tona...
  p
    | Demorei um pouquinho para descobrir, mas como sempre digo "antes tarde do que mais tarde ainda".
  p
    | Retrato um pouquinho do que gosto e um pouquinho do que faz parte de mim e do que eu sou.
  p
    | Depois de fotografar por um tempo, decidi que era hora de mostrar um pouquinho da minha arte, do que gosto, do que acho lindo e do que me faz feliz. Minha fotografia retrata a vida e as pessoas como elas são de verdade com defeitos mas cheia de beleza.
