doctype html
html(lang="en")
  head
    title Cheila de Barros - Fotografia
    link(href="https://fonts.googleapis.com/css?family=Open+Sans|Walter+Turncoat", rel="stylesheet")
    link(href="stylesheets/app.css", rel="stylesheet", type="text/css", media="all")
    script(src="scripts/bundle.js", type="text/javascript")
  body
    block content
