doctype html
html(lang="en")
  head
    title Cheila de Barros - Fotografia
    link(href="https://fonts.googleapis.com/css?family=Open+Sans|Walter+Turncoat", rel="stylesheet")
    link(rel="stylesheet", href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?cp0z2c")
    link(href="stylesheets/app.css", rel="stylesheet", type="text/css", media="all")
    link(rel="icon", href="images/favicon.ico")
    script(src="scripts/bundle.js", type="text/javascript")
  body
    block content
