mixin job(title, description, image, link)
  a.job(href=link, target="_blank")
    .cover(style="background-image: url(#{image})")
    h1.title
      = title
    p.description
      = description

div#work
  .jobs
    +job(
      "Mulheres da Rua — issue #1",
      "Mulheres da Rua veio para fazer a sociedade refletir sobre nós, sobre ser mulher.",
      "https://cdn-images-1.medium.com/max/800/1*RGcJeA9zvAzRJ8_4kD3GgA.jpeg",
      "https://medium.com/mulheres-da-rua/mulheres-da-rua-issue-1-1bc414e5b029"
    )
    +job(
      "+ do mesmo",
      "O mesmo lugar pode parecer muito diferente, ter cada dia uma beleza. 9 dias e 9 fotos diferentes, mas ao mesmo tempo iguais =]",
      "https://cdn-images-1.medium.com/max/2000/1*UEWkDFHDsqCGXL0MeI_I3g.jpeg",
      "https://medium.com/@cheiladbarros/do-mesmo-30e1aa0f9feb"
    )
    +job(
      "Caminhando",
      "Caminhar pelos bairros em Curitiba é sempre surpreendente. Esse ensaio foi feito no bairro Hugo Lange.",
      "https://cdn-images-1.medium.com/max/2000/1*1UUfuAk__c0vumkZnLqSiw.jpeg",
      "https://medium.com/@cheiladbarros/caminhando-67c92cca3ed1"
    )
